@import "null.scss";

@font-face {
	font-family: 'Quotus Bold';
	src: url('fonts/Quotus-Bold.eot');
	src: url('fonts/Quotus-Bold.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Quotus-Bold.ttf') format('truetype'),
		  url('fonts/Quotus-Bold.woff') format('woff'),
		  url('fonts/Quotus-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quotus Thin';
	src: url('fonts/Quotus-Thin.eot');
	src: url('fonts/Quotus-Thin.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Quotus-Thin.ttf') format('truetype'),
		  url('fonts/Quotus-Thin.woff') format('woff'),
		  url('fonts/Quotus-Thin.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('fonts/Roboto-Bold.eot');
	src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Roboto-Bold.ttf') format('truetype'),
		  url('fonts/Roboto-Bold.woff') format('woff'),
		  url('fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Medium';
	src: url('fonts/Roboto-Medium.eot');
	src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Roboto-Medium.ttf') format('truetype'),
		  url('fonts/Roboto-Medium.woff') format('woff'),
		  url('fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('fonts/Roboto-Regular.eot');
	src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Roboto-Regular.ttf') format('truetype'),
		  url('fonts/Roboto-Regular.woff') format('woff'),
		  url('fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Thin';
	src: url('fonts/Roboto-Thin.eot');
	src: url('fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Roboto-Thin.ttf') format('truetype'),
		  url('fonts/Roboto-Thin.woff') format('woff'),
		  url('fonts/Roboto-Thin.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

%no-select {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

$color-list: #fff, rgba(0,0,0,0);

$primary-color: #3acdd5;

@mixin gradient($direction, $color-list) {
	background: -webkit-linear-gradient($direction, $color-list);
	background: -moz-linear-gradient($direction, $color-list);
	background: -o-linear-gradient($direction, $color-list);
	background: linear-gradient($direction, $color-list);
}

// miobile first - начало срабатывания от *px и больше

a:active {
	color: #000;
}

input:focus {
	box-shadow: 0px 0px 15px 5px #222;
}

.header-container {
	margin: 0 6vw 0 6vw;
}

.text-center-position {
	text-align: center;
}

// tools

.tools {
	position: relative;
}

.search {
	position: fixed;
	display: block;
	z-index: 5;
	width: 48px;
	height: 48px;
	right: 0;
	background-image: linear-gradient(180deg, #ddd,#777);
	border-radius: 0 0 0 50%;
	& svg {
		position: relative;
		left: 6px;
		top: 5px;
	}
}

.cart {
	position: fixed;
	display: block;
	z-index: 5;
	width: 48px;
	height: 48px;
	left: 0;
	background-image: linear-gradient(180deg, #ddd,#777);
	border-radius: 0 0 50% 0;
	& svg {
		position: relative;
		left: 4px;
		top: 8px;
	}
}

// intro

.intro {
	background: #777 url(images/header/bg.jpg) 50%/cover no-repeat;
}

.logo {
	text-align: center;
	display: inline-block;
	word-wrap: break-word;
	margin: 0 auto;
		.logo__text {
			color: #000;
			letter-spacing: -3px;
			line-height: 1;
			font-size: 50px;
			font-family: 'Kaushan Script', cursive;
			transform: rotate(-10deg);
			margin-right: 21px;
			margin-bottom: 30px;
			padding-top: 30px;
			@extend %no-select;
		}
}

.title {
	text-transform: uppercase;
	font-family: 'Quotus Bold';
	font-size: 20px;
	display: block;
	word-wrap: break-word;
		.title__2row {
			display: block;
			font-family: 'Quotus Bold';
			font-size: 40px;
			margin-top: 0.3em;
			color: #fff;
			display: block;
			word-wrap: break-word;
		}
}

.white-bg {
	background-color: #fff;
}

.subtitle-position {
	text-align: center;
	margin-top: 15vh;
}

.subtitle {
	font-family: 'Quotus Bold';
	font-size: 40px;
	color: #272626;
	display: inline-block;
	word-wrap: break-word;
	width: 100%;
	margin-top: .5em;
		.subtitle__2row {
			font-family: 'Quotus Thin';
			text-transform: uppercase;
			display: block;
			margin-top: 0.2em;
			word-wrap: break-word;
			width: 100%;
		}
}

.subtitle__desc {
	text-align: left;
	font-family: 'Roboto Light';
	font-size: 18px;
	margin-top: 1em;
	margin-bottom: 1em;
	display: block;
	word-wrap: break-word;
}

.link-btn {
	display: block;
	word-wrap: break-word;
	width: 50%;
	margin: 0 auto;
	font-family: 'Roboto Bold';
	font-size: 14px;
	text-transform: uppercase;
	padding: 1em 0 0.8em 0;
	border-radius: 100px;
	color: #fff;
	background-color: $primary-color;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
}

.link-btn-position {
	margin-top: 4vh;
	margin-bottom: 4vh;
}

// items

.header {
	font-family: 'Quotus Thin';
	font-size: 30px;
	color: #242424;
	text-transform: uppercase;
	margin-top: 1.5em;
	display: block;
	word-wrap: break-word;
}

.subheader {
	font-family: 'Roboto Regular';
	font-size: 16px;
	color: #242424;
	margin-top: 1.5em;
	margin-bottom: 2em;
	display: block;
	word-wrap: break-word;
}

.list-items-container {
	display: flex;
	flex-direction: column;
	margin: 0 1vw 0 1vw;
}

.list-items {
	margin: 0 auto;
	width: 80%;
	&__item {
		display: block;
		width: 100%;
	}
		&__image {
			display: block;
			margin: 0 auto;
			width: 100%;
		}
		&__description {
			font-family: 'Roboto Medium', serif;
			font-size: 16px;
			text-align: center;
			margin-top: 1em;
			margin-bottom: 0.5em;
			display: block;
			word-wrap: break-word;
		}
		&__cost {
			font-family: 'Roboto Bold', serif;
			font-size: 20px;
			text-align: center;
			margin-bottom: 2.5em;
			display: block;
			word-wrap: break-word;
		}
}

// newsletter

.newsletter {
	position: relative;
	&__one-line {
		font-family: 'Quotus Bold', serif;
		text-align: center;
		font-size: 25px;
		display: block;
		word-wrap: break-word;
	}
	&__two-line {
		font-family: 'Quotus Thin', serif;
		text-transform: uppercase;
		text-align: center;
		font-size: 25px;
		display: block;
		margin-top: 0.5em;
		display: block;
		word-wrap: break-word;
	}
	&__description {
		font-family: 'Roboto Medium', serif;
		font-size: 16px;
		margin: 1.5em 0 1.5em 0;
		display: block;
		word-wrap: break-word;
	}
	&__form {
		background: url("images/footer/bg-mobile.jpg") 0 0/cover no-repeat;
		padding: 1.5em 0 3em 0;
	}
	&__email {
		font-family: 'Roboto Medium', serif;
		background-color: #ccc;
		width: 80%;
		font-size: 24px;
		padding: 20px;
		margin-bottom: 0.7em;
		text-align: center;
		border-radius: 100px;
		display: block;
		margin: 0 auto;
		margin-bottom: 0.7em;
	}
	&__btn {
		font-family: 'Roboto Medium', serif;
		background-color: $primary-color;
		color: #fff;
		width: 50%;
		font-size: 24px;
		padding: 20px 0;
		text-align: center;
		border-radius: 100px;
		text-transform: uppercase;
		display: block;
		word-wrap: break-word;
		margin: 0 auto;
		margin-bottom: 0.7em;
	}
	&__gradient {
		position: absolute;
		width: 100%;
		height: 15%;
		bottom: -1px;
		@include gradient(bottom, $color-list);
	}
}

// links

.links {
	&__header {
		font-family: 'Quotus Bold', serif;
		font-size: 30px;
		text-align: center;
		display: block;
		word-wrap: break-word;
	}
	&__items {
		font-family: 'Roboto Light', serif;
		font-size: 20px;
		text-align: center;
		display: block;
	}
	&__item {
		color: #000;
		padding: 1.5vw 8vw;
		display: block;
		word-wrap: break-word;
	}
}

// social

.social {
	margin-top: 4em;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__list a:link {
		color: #000;
	}
	&__list a:visited {
		color: #000;
	}
	&__list a:hover {
		color: $primary-color;
	}
}

.fab {
	font-size: 46px;
	display: block;
	margin: 0 0.3em 0.8em 0.3em;
	line-height: .7;
}

// accordeon

 .tab {
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	overflow: hidden;
 }
 .tab:first-child {
	margin-top: 1.5em;
 }
 .tab input {
	position: absolute;
	opacity: 0;
	z-index: -1;
 }
 .tab label {
	position: relative;
	display: block;
	font-weight: bold;
	padding: 1.5em 0 1.5em 0;
	word-wrap: break-word;
	cursor: pointer;
 }
 .tab-content {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .35s;
	-o-transition: max-height .35s;
	transition: max-height .35s;
 }
 /* :checked */
 .tab input:checked ~ .tab-content {
	max-height: 100vh;
 }
 /* Icon */
 .tab label:before {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 80%;
	left: 0;
	display: block;
	opacity: 0;
	width: 3em;
	height: 3em;
	line-height: 3;
	text-align: center;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
 }
 .tab input[type=checkbox] + label:before {
	content: "\25BC";
 }
 .tab input[type=radio] + label:before {
	content: "\25BC";
 }
 .tab input[type=checkbox]:checked + label:before {
	transform: rotate(180deg);
 }
 .tab input[type=radio]:checked + label:before {
	transform: rotateX(180deg);
 }

 .tab label:after {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 80%;
	display: block;
	width: 3em;
	height: 3em;
	line-height: 3;
	text-align: center;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
 }
 .tab input[type=checkbox] + label:after {
	content: "\25BC";
 }
 .tab input[type=radio] + label:after {
	content: "\25BC";
 }
 .tab input[type=checkbox]:checked + label:after {
	transform: rotate(180deg);
 }
 .tab input[type=radio]:checked + label:after {
	transform: rotateX(180deg);
 }
