@import "null.scss";

@font-face {
	font-family: 'Roboto Slab';
	src: url('fonts/Roboto-Slab.eot');
	src: url('fonts/Roboto-Slab.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Roboto-Slab.ttf') format('truetype'),
		  url('fonts/Roboto-Slab.woff') format('woff'),
		  url('fonts/Roboto-Slab.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quotus Thin';
	src: url('fonts/Quotus-Thin.eot');
	src: url('fonts/Quotus-Thin.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Quotus-Thin.ttf') format('truetype'),
		  url('fonts/Quotus-Thin.woff') format('woff'),
		  url('fonts/Quotus-Thin.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('fonts/Roboto-Bold.eot');
	src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Roboto-Bold.ttf') format('truetype'),
		  url('fonts/Roboto-Bold.woff') format('woff'),
		  url('fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Medium';
	src: url('fonts/Roboto-Medium.eot');
	src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Roboto-Medium.ttf') format('truetype'),
		  url('fonts/Roboto-Medium.woff') format('woff'),
		  url('fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('fonts/Roboto-Regular.eot');
	src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Roboto-Regular.ttf') format('truetype'),
		  url('fonts/Roboto-Regular.woff') format('woff'),
		  url('fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Thin';
	src: url('fonts/Roboto-Thin.eot');
	src: url('fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		  url('fonts/Roboto-Thin.ttf') format('truetype'),
		  url('fonts/Roboto-Thin.woff') format('woff'),
		  url('fonts/Roboto-Thin.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

%no-select {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

$color-list: #fff, rgba(0,0,0,0);
$primary-color: #3acdd5;
$primary-light-color: #21ecf7;

@mixin gradient($direction, $color-list) {
	background: -webkit-linear-gradient($direction, $color-list);
	background: -moz-linear-gradient($direction, $color-list);
	background: -o-linear-gradient($direction, $color-list);
	background: linear-gradient($direction, $color-list);
}

@mixin no-select {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

a:active {
	color: #000;
}

input:focus {
	box-shadow: 0px 0px 15px 5px #222;
}

.intro-container {
	margin: 0 6vw 0 6vw;
}

.header-container {
	margin: 0 6vw 0 6vw;
}

.text-center-position {
	text-align: center;
}

// tools

.tools {
	position: relative;
}

.search {
	position: fixed;
	display: block;
	z-index: 5;
	width: 48px;
	height: 48px;
	right: 0;
	background-image: linear-gradient(180deg, #ddd,#777);
	border-radius: 0 0 0 50%;
	& svg {
		position: relative;
		left: 6px;
		top: 5px;
	}
}

.cart {
	position: fixed;
	display: block;
	z-index: 5;
	width: 48px;
	height: 48px;
	left: 0;
	background-image: linear-gradient(180deg, #ddd,#777);
	border-radius: 0 0 50% 0;
	& svg {
		position: relative;
		left: 4px;
		top: 8px;
	}
}

// intro

.intro {
	/*background: #777 url(images/header/bg1.jpg) 50%/cover no-repeat;*/
}

.logo {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
		&__text {
			color: #000;
			letter-spacing: -3px;
			line-height: 1;
			font-size: 50px;
			font-family: 'Kaushan Script', cursive;
			transform: rotate(-10deg);
			margin-right: 21px;
			margin-bottom: 30px;
			padding-top: 30px;
			@extend %no-select;
		}
}

.title {
	text-transform: uppercase;
	font-family: 'Quotus Thin', sans-serif;
	font-size: 20px;
	display: block;
	word-wrap: break-word;
	line-height: 1;
		&__2row {
			font-family: 'Roboto Slab', sans-serif;
			display: block;
			font-size: 40px;
			margin-top: 0.3em;
			color: #fff;
			text-shadow:  #000 0px 0px 4px, #000 0px 2px 10px;
			display: block;
			word-wrap: break-word;
			line-height: 1;
		}
}

.white-bg {
	background-color: #fff;
}

.polygon,.people,.people-container {
	display: none;
}

.subtitle-position {
	text-align: center;
	margin-top: 15vh;
}

.subtitle {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 40px;
	color: #272626;
	display: inline-block;
	word-wrap: break-word;
	width: 100%;
	margin-top: .5em;
		&__2row {
			font-family: 'Quotus Thin', sans-serif;
			text-transform: uppercase;
			display: block;
			margin-top: 0.2em;
			word-wrap: break-word;
			width: 100%;
		}
}

.subtitle__desc {
	text-align: left;
	font-family: 'Roboto Light', serif;
	font-size: 18px;
	margin: 1em 0 1em 0;
	display: block;
	word-wrap: break-word;
}

.link-btn {
	display: block;
	word-wrap: break-word;
	width: 50%;
	margin: 0 auto;
	font-family: 'Roboto Bold', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	padding: 1em 0 0.8em 0;
	border-radius: 100px;
	color: #fff;
	background-color: $primary-color;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
	&:hover {
		background-color: $primary-light-color;
		box-shadow: 0 0 10px 1px $primary-light-color;
	}
}

.link-btn-position {
	margin-top: 4vh;
	margin-bottom: 4vh;
}

// items

.header {
	font-family: 'Quotus Thin', sans-serif;
	font-size: 30px;
	color: #242424;
	text-transform: uppercase;
	display: block;
	word-wrap: break-word;
}

.subheader {
	font-family: 'Roboto Regular', serif;
	font-size: 16px;
	color: #242424;
	margin-top: 1.5em;
	margin-bottom: 2em;
	display: block;
	word-wrap: break-word;
}

.list-items-container {
	display: flex;
	flex-direction: column;
	margin: 0 1vw 0 1vw;
}

.list-items {
	margin: 0 auto;
	width: 80%;
	&__item {
		display: block;
		width: 100%;
	}
	&__image {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	&__description {
		font-family: 'Roboto Medium', serif;
		font-size: 16px;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 0.5em;
		display: block;
		word-wrap: break-word;
	}
	&__cost-box {
		display: flex;
		justify-content: center;
		margin-top: 15px;
		margin-bottom: 50px;
	}
	&__cost {
		display: inline-block;
		font-family: 'Roboto Bold', sans-serif;
		font-size: 26px;
		text-align: center;
		word-wrap: break-word;
		line-height: 1.4;
	}
	&__cart-icon {
		display: inline-block;
		font-size: 32px;
		margin-left: 15px;
	}
	&__cart-icon:hover {
		color: #3acdd5;
	}
}

.separation-line {
	height: 2px;
	width: 55vw;
	display: block;
	margin: 0 auto;
	background-color: #000;
	margin-bottom: 10vmin;
}

// newsletter

.newsletter {
	position: relative;
	&__one-line {
		font-family: 'Roboto Slab', sans-serif;
		font-weight: 700;
		text-align: center;
		font-size: 25px;
		display: block;
		word-wrap: break-word;
	}
	&__two-line {
		font-family: 'Quotus Thin', serif;
		text-transform: uppercase;
		text-align: center;
		font-size: 28px;
		display: block;
		margin-top: 0.5em;
		display: block;
		word-wrap: break-word;
	}
	&__description {
		font-family: 'Roboto Medium', serif;
		text-align: center;
		font-size: 16px;
		margin: 1.5em 0 1.5em 0;
		display: block;
		word-wrap: break-word;
	}
	&__form {
		background: url("images/footer/bg-mobile.jpg") 0 0/cover no-repeat;
		padding: 1.5em 0 3em 0;
	}
	&__email {
		font-family: 'Roboto Medium', sans-serif;
		background-color: #ccc;
		width: 85%;
		max-width: 100%;
		font-size: 24px;
		padding: 15px;
		margin-bottom: 0.7em;
		text-align: center;
		border-radius: 100px;
		display: block;
		margin: 0 auto;
		margin-bottom: 0.7em;
		box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
	}
	&__btn {
		font-family: 'Roboto Medium', sans-serif;
		background-color: $primary-color;
		color: #fff;
		width: 50%;
		max-width: 100%;
		font-size: 24px;
		padding: 15px 0;
		text-align: center;
		border-radius: 100px;
		text-transform: uppercase;
		display: block;
		word-wrap: break-word;
		margin: 0 auto;
		margin-bottom: 0.7em;
		box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
	}
	&__btn:hover {
		background-color: $primary-light-color;
		box-shadow: 0 0 10px 1px $primary-light-color;
	}

	&__gradient {
		position: absolute;
		width: 100%;
		height: 15%;
		bottom: -1px;
		@include gradient(bottom, $color-list);
	}
}

// links

.links {
	&__header {
		font-family: 'Roboto Slab', sans-serif;
		font-size: 30px;
		text-align: center;
		display: block;
		width: 65%;
		margin: 0 auto;
		word-wrap: break-word;
	}
	&__items {
		font-family: 'Roboto Light', serif;
		font-size: 20px;
		text-align: center;
		display: block;
	}
	&__item {
		color: #000;
		padding: 0.6em 1.5em;
		display: block;
		word-wrap: break-word;
	}
}

// social

.social {
	margin-top: 4em;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__list a:link {
		color: #000;
	}
	&__list a:visited {
		color: #000;
	}
	&__list a:hover {
		color: $primary-color;
	}
}

.fab {
	font-size: 46px;
	display: block;
	margin: 0 0.3em 0.8em 0.3em;
	line-height: .7;
}

// accordeon

 .tab {
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	overflow: hidden;
 }
 .tab:first-child {
	margin-top: 1.5em;
 }
 .tab input {
	position: absolute;
	opacity: 0;
	z-index: -1;
 }
 .tab label {
	position: relative;
	display: block;
	font-weight: bold;
	padding: 1.5em 0 1.5em 0;
	word-wrap: break-word;
	cursor: pointer;
 }
 .tab-content {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .35s;
	-o-transition: max-height .35s;
	transition: max-height .35s;
 }
 /* :checked */
 .tab input:checked ~ .tab-content {
	max-height: 100vh;
 }
 /* Icon */
 .tab label:before {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 80%;
	left: 0;
	display: block;
	opacity: 0;
	width: 3em;
	height: 3em;
	line-height: 3;
	text-align: center;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
 }
 .tab input[type=checkbox] + label:before {
	content: "\25BC";
 }
 .tab input[type=radio] + label:before {
	content: "\25BC";
 }
 .tab input[type=checkbox]:checked + label:before {
	transform: rotate(180deg);
 }
 .tab input[type=radio]:checked + label:before {
	transform: rotateX(180deg);
 }

 .tab label:after {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 80%;
	display: block;
	width: 3em;
	height: 3em;
	line-height: 3;
	text-align: center;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
 }
 .tab input[type=checkbox] + label:after {
	content: "\25BC";
 }
 .tab input[type=radio] + label:after {
	content: "\25BC";
 }
 .tab input[type=checkbox]:checked + label:after {
	transform: rotate(180deg);
 }
 .tab input[type=radio]:checked + label:after {
	transform: rotateX(180deg);
 }

// tablet design

@media only screen and (min-width: 768px) and (min-height: 768px) {

// tools

	.search {
		width: 96px;
		height: 96px;
		background-color: #fff;
		& svg {
			left: 12px;
			top: 10px;
		}
	}

	.cart {
		width: 96px;
		height: 96px;
		& svg {
			left: 8px;
			top: 16px;
		}
	}

// intro
	.logo {
		&__text {
			font-size: 10vmin;
			padding-top: 5vmin;
		}
	}
	
	.title {
		margin-top: 4vmin;
		font-size: 5vmin;
			&__2row {
				font-size: 10vmin;
				margin-top: 3vmin;
			}
	}

	.subtitle-position {
		margin-top: 20vmin;
	}
	
	.subtitle {
		font-size: 8vmin;
		margin-top: 3vmin;
			&__2row {
				margin-top: 0.2em;
			}
	}
	
	.subtitle__desc {
		font-size: 4vmin;
	}
	
	.link-btn {
		font-size: 5.12vmin;
		padding: 0.8em 0 0.8em 0;
		border-radius: 100vmin;
	}
	
	.link-btn-position {
		margin-top: 4vmin;
		margin-bottom: 8vmin;
	}

// items
	.header {
		font-size: 8.6vmin;
	}

	.subheader {
		font-size: 3.7vmin;
	}

	.list-items {
		&__description {
			font-size: 3.7vmin;
			margin-top: 1em;
			margin-bottom: 0.5em;
		}
		&__cost-box {
			margin-top: 1vmin;
			margin-bottom: 10vmin;
		}
		&__cost {
			font-size: 6vmin;
		}
		&__cart-icon {
			font-size: 8vmin;
			margin-left: 3vmin;
		}
	}

	.separation-line {
		height: 0.5vmin;
		width: 65vw;
	}

// newsletter
	.newsletter {
		&__one-line {
			font-size: 7vmin;
		}
		&__two-line {
			font-size: 7vmin;
			margin-top: 0.5em;
		}
		&__description {
			font-size: 4vmin;
			margin: 1.5em 0 1.5em 0;
		}
		&__form {
			padding: 1.5em 0 3em 0;
		}
		&__email {
			width: 80%;
			font-size: 6vmin;
			margin-bottom: 1em;
			margin-bottom: 1em;
			padding: 3vmin;
			border-radius: 100vmin;
		}
		&__btn {
			width: 40%;
			font-size: 5vmin;
			padding: 0.5em 0;
			margin-bottom: 1em;
			border-radius: 100vmin;
		}
	}

// links
	.links {
		&__header {
			font-size: 7vmin;
		}
		&__items {
			font-size: 5vmin;
		}
		&__item {
			padding: 0.4em 1.5em;
		}
	}

// social
	.fab {
		font-size: 10vmin;
		margin: 0 0.3em 0.5em 0.3em;
		line-height: 1;
	}
}

// accordeon

.tab input[type=checkbox] + label:after {
	font-size: 4vmin;
 }
 .tab input[type=radio] + label:after {
	font-size: 4vmin;
 }

// desktop design

@media only screen and (min-width: 1224px) {

// tools
	.tools {
		opacity: .2;
		display: none;
	}

// intro

	.mouse-parallax {
		height: 70%;
		width: 100%;
		position: absolute;
		top: 0;
		overflow: hidden;
		z-index: 1;
	}

	.mouse-parallax-bg1 {
		position: absolute;
		background-image: url('images/header/bg1.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 110%;
		height: 98%;
		transition: all 0.1s ease;
		z-index: 1;
	}

	.mouse-parallax-bg2 {
		position: absolute;
		background-image: url('images/header/bg2.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 110%;
		height: 98%;
		transition: all 0.1s ease;
		z-index: 1;
	}

	.logo-and-title {
		width: 100%;
		z-index: 10;
	}

	.intro-container {
		margin: 0 7vmax 0 7vmax;
	}

	.intro {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		min-height: 70vh;
		position: relative;
		overflow-y: hidden;
	}

	.flex-start {
		align-self: flex-start;
	}

	.logo {
		&__text {
			font-size: 3.5vmax;
			padding-top: 3vmax;
		}
	}

	.title {
		margin: 4vmax 0 4vmax 0;
		font-size: 2vmax;
		letter-spacing: 0.05em;
		text-shadow:  #fff 0px 0px 4px, #fff 0px 2px 10px;
			&__2row {
				font-size: 6vmax;
				margin-top: 20px;
				letter-spacing: 0.035em;
			}
	}

	.subintro {
		z-index: 10;
		width: 100%;
		height: 100%;
	}

	.polygon-container {
		position: relative;
		bottom: -1px;
		z-index: 10;
	}

	.polygon {
		display: block;
		fill: #fff;
		width: 100%;
		z-index: 5;
	}

	.people-container {
		display: block;
		position: relative;
		height: auto;
		z-index: 2;
	}

	.people {
		position: absolute;
		display: block;
		right: 0;
		top: -16vw;
		width: 25%;
		z-index: 1;
		@include no-select;
	}

	.subtitle-wrapper {
		position: relative;
		width: 100%;
		top: -14vmax;
		z-index: 10;
	}

	.white-bg {
		background-color: rgba(255, 255, 255, 0);
	}

	.subintro {
	}

	.subtitle__wrapper {
		width: 100%;
	}

	.subtitle-position {
		margin-top: 0;
		text-align: left;
	}

	.subtitle {
		font-size: 3vmax;
		margin-top: 0;
			&__2row {
				margin-top: 0;
			}
	}

	.subtitle__desc {
		font-size: 1.5vmax;
		margin: 2.5vmax 0 2.5vmax 0;
	}

	.btn-wrapper {
		display: inline;
	}

	.link-btn {
		width: auto;
		display: inline-block;
		font-size: 1.5vmax;
		padding: 0.6em 2.5em 0.6em 2.5em;
		border-radius: 100vmin;
		text-align: center;
		margin: 0;
		margin-left: 25%;
	}

	.link-btn-position {
		margin-top: 0vmin;
		margin-bottom: 0vmin;
	}


}