@import "null.scss";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@mixin font($font_name, $file_name, $weight, $style) {

	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

$color-list: #fff, rgba(0,0,0,0);
$primary-color: #3acdd5;
$primary-light-color: #21ecf7;

@mixin gradient($direction, $color-list) {
	background: -webkit-linear-gradient($direction, $color-list);
	background: -moz-linear-gradient($direction, $color-list);
	background: -o-linear-gradient($direction, $color-list);
	background: linear-gradient($direction, $color-list);
}

@mixin no-select {
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

a:active {
	color: #000;
}

input:focus {
	box-shadow: 0px 0px 15px 5px #222;
}

*::selection {
	color: #ffffff;
	background-color: #0dc2cc;
}

.intro-container {
	margin: 0 6vw 0 6vw;
}

.header-container {
	margin: 0 6vw 0 6vw;
}

.text-center {
	text-align: center;
}

// scroll
	// ie
body {
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #56999f;
	scrollbar-face-color: $primary-color;
	scrollbar-shadow-color: #56999f;
}

	// firefox
html, body {
	scrollbar-color: $primary-color #ffffff;
	scrollbar-width: auto;
}

	// webkit
::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	min-width: 10px;
	width: 1vmax;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to bottom, #56999f 0%, #223e41 100%);
	border: 2px solid transparent;
	border-image: linear-gradient(to top, #325f63 , #152729);
	-webkit-border-image: -webkit-linear-gradient(to top, #325f63 , #152729);
	border-image-slice: 1 1 15 1;
}

::-webkit-scrollbar-thumb:hover{
	background-image: linear-gradient(to bottom, #45f6ff 0%, #1e6a6e 100%);
	border: 2px solid #1e6a6e;
}

::-webkit-resizer{
	background-image: url('');
	background-repeat: no-repeat;
	min-width: 10px;
	width: 1vmax;
	height: 0px;
}

::-webkit-scrollbar{
	width: 1.7vmin;
}

::-webkit-scrollbar-track-piece:start {
	background: transparent url('../img/other/Scrollbar.png') repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
	background: transparent url('../img/other/Scrollbar.png') repeat-y !important;
}

// tools
.tools {
	position: relative;
}

.search {
	position: fixed;
	display: block;
	z-index: 5;
	width: 48px;
	height: 48px;
	right: 0;
	background-image: linear-gradient(180deg, #ddd,#777);
	border-radius: 0 0 0 50%;
	& svg {
		position: relative;
		left: 6px;
		top: 5px;
	}
}

.cart {
	position: fixed;
	display: block;
	z-index: 5;
	width: 48px;
	height: 48px;
	left: 0;
	background-image: linear-gradient(180deg, #ddd,#777);
	border-radius: 0 0 50% 0;
	& svg {
		position: relative;
		left: 4px;
		top: 8px;
	}
}

// intro

.intro {
	background: #777 url('../img/header/bg1.jpg') 0 0/cover no-repeat;
}

.logo {
	text-align: center;
	margin: 0 auto;
		&__text {
			color: #000;
			letter-spacing: -3px;
			line-height: 1;
			font-size: 50px;
			font-family: 'Kaushan Script', cursive;
			transform: rotate(-10deg);
			margin-right: 21px;
			margin-bottom: 30px;
			padding-top: 30px;
			@include no-select;
		}
}

.title {
	text-transform: uppercase;
	font-family: 'Quotus-Thin', sans-serif;
	font-size: 20px;
	display: block;
	word-wrap: break-word;
	line-height: 1;
	text-shadow:  #fff 0px 0px 4px, #fff 0px 2px 10px;
		&__2row {
			font-family: 'Roboto-Slab', sans-serif;
			display: block;
			font-size: 40px;
			margin-top: 0.3em;
			color: #fff;
			text-shadow:  #000 0px 0px 4px, #000 0px 2px 10px;
			display: block;
			word-wrap: break-word;
			line-height: 1;
		}
}

.white-bg {
	background-color: #fff;
}

.intro-polygon,intro-polygon-container.people,.people-container,.footer-polygon,.footer-polygon-container {
	display: none;
}

.subtitle-position {
	text-align: center;
	margin-top: 15vh;
}

.subtitle {
	font-family: 'Roboto-Slab', sans-serif;
	font-size: 40px;
	color: #272626;
	display: inline-block;
	word-wrap: break-word;
	width: 100%;
	margin-top: .5em;
		&__2row {
			font-family: 'Quotus-Thin', sans-serif;
			text-transform: uppercase;
			display: block;
			margin-top: 0.2em;
			word-wrap: break-word;
			width: 100%;
		}
}

.subtitle__desc {
	text-align: left;
	font-family: Roboto, serif;
	font-weight: 300;
	font-size: 18px;
	margin: 1em 0 1em 0;
	display: block;
	word-wrap: break-word;
}

.btn-wrapper a {
	color: #fff;
}

.link-btn {
	display: block;
	word-wrap: break-word;
	width: 50%;
	margin: 0 auto;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	padding: 1em 0 0.8em 0;
	border-radius: 100px;
	color: #fff;
	background-color: $primary-color;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
	text-shadow:  #000 0px 0px 4px;
	transition: box-shadow .25s linear;
	&:hover {
		background-color: $primary-light-color;
		box-shadow: 0 0 10px 1px $primary-light-color;
		transition: box-shadow .12s linear;
	}
	&:active {
		background-color: $primary-light-color;
		box-shadow: 0 0 10px 1px $primary-light-color;
		transition: box-shadow .12s linear;
	}
}

.link-btn-position {
	margin-top: 4vh;
	margin-bottom: 28vh;
}

// items
.header {
	font-family: 'Quotus-Thin', sans-serif;
	font-size: 30px;
	color: #242424;
	text-transform: uppercase;
	display: block;
	word-wrap: break-word;
}

.subheader {
	font-family: Roboto, serif;
	font-weight: 400;
	font-size: 16px;
	color: #242424;
	margin-top: 1.5em;
	margin-bottom: 2em;
	display: block;
	word-wrap: break-word;
}

.list-items-container {
	display: flex;
	flex-direction: column;
	margin: 0 1vw 0 1vw;
}

.list-items-2-container {
	display: flex;
	flex-direction: column;
	margin: 0 1vw 0 1vw;
}

.list-items {
	margin: 0 auto;
	width: 80%;
	&__item {
		display: block;
		width: 100%;
		margin-bottom: 10vmin;
	}
	&__image {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	&__description {
		font-family: Roboto, serif;
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 0.5em;
		display: block;
		word-wrap: break-word;
	}
	&__cost-box {
		display: flex;
		justify-content: center;
		margin-top: 15px;
	}
	&__cost {
		display: inline-block;
		font-family: Roboto, sans-serif;
		font-weight: 700;
		font-size: 26px;
		text-align: center;
		word-wrap: break-word;
		line-height: 1.4;
	}
	&__cart-icon {
		display: inline-block;
		font-size: 32px;
		margin-left: 15px;
		cursor: pointer;
		transition: color .075s linear;
	}
	&__cart-icon:hover {
		color: $primary-color;
		transition: color .075s linear;
	}
	&__cart-icon:active {
		color: $primary-color;
		transition: color .075s linear;
	}
}

.separation-line {
	height: 2px;
	width: 55vw;
	display: block;
	margin: 0 auto;
	background-color: #000;
	margin-bottom: 10vmin;
}

// newsletter
.newsletter {
	position: relative;
	background: url('../img/footer/bg.png') 0 0 /cover no-repeat;
	&__one-line {
		font-family: 'Roboto-Slab', sans-serif;
		text-align: center;
		font-size: 25px;
		text-shadow:  #fff 0px 0px 4px, #fff 0px 0px 10px, #fff 0px 0px 10px;
		display: block;
		word-wrap: break-word;
	}
	&__two-line {
		
		font-family: 'Roboto-Slab', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-size: 28px;
		text-shadow: #fff 0px 0px 1px, #fff 0px 0px 2px, #fff 0px 0px 3px, #fff 0px 0px 4px, #fff 0px 0px 5px, #fff 0px 0px 6px, #fff 0px 0px 8px, #fff 0px 0px 10px, #fff 0px 0px 10px;
		display: block;
		margin-top: 0.5em;
		display: block;
		word-wrap: break-word;
	}
	&__description {
		font-family: Roboto, serif;
		font-weight: 500;
		text-align: center;
		font-size: 16px;
		text-shadow:  #fff 0px 0px 4px, #fff 0px 0px 10px, #fff 0px 0px 10px, #fff 0px 0px 10px;
		margin: 1.5em 0 1.5em 0;
		display: block;
		word-wrap: break-word;
	}
	&__form {
		background: none;
		padding: 1.5em 0 3em 0;
	}
	&__email {
		font-family: Roboto, sans-serif;
		font-weight: 500;
		background-color: #ccc;
		width: 85%;
		max-width: 100%;
		font-size: 24px;
		padding: 15px;
		margin-bottom: 0.7em;
		text-align: center;
		border-radius: 100px;
		display: block;
		margin: 0 auto;
		margin-bottom: 0.7em;
		box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
	}
	&__email::placeholder {
		color: #555555;
	}
	&__email:-ms-input-placeholder {
		color: #555555;
	}
	&__email::-ms-input-placeholder {
		color: #555555;
	}
	&__email:focus::placeholder {
		color: #cccccc;
	}
	&__email:focus:-ms-input-placeholder {
		color: #cccccc;
	}
	&__email:focus::-ms-input-placeholder {
		color: #cccccc;
	}
	&__btn {
		font-family: Roboto, sans-serif;
		font-weight: 500;
		background-color: $primary-color;
		color: #fff;
		width: 50%;
		max-width: 100%;
		font-size: 24px;
		padding: 15px 0;
		text-align: center;
		border-radius: 100px;
		text-transform: uppercase;
		display: block;
		word-wrap: break-word;
		margin: 0 auto;
		margin-bottom: 0.7em;
		box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
		text-shadow:  #000 0px 0px 4px;
		transition: box-shadow .25s linear;
		position: relative;
		z-index: 10;
	}
	&__btn:hover {
		background-color: $primary-light-color;
		box-shadow: 0 0 10px 1px $primary-light-color;
		transition: box-shadow .07s linear;
	}
	&__btn:active {
		background-color: $primary-light-color;
		box-shadow: 0 0 10px 1px $primary-light-color;
		transition: box-shadow .07s linear;
	}
	&__gradient {
		position: absolute;
		width: 100%;
		height: 12%;
		bottom: -1px;
		@include gradient(bottom, $color-list);
	}
}

// links

.links-desktop {
	display: none;
}

.links {
	display: block;
	&__header {
		font-family: 'Roboto-Slab', sans-serif;
		font-size: 30px;
		text-align: center;
		display: block;
		width: 65%;
		margin: 0 auto;
		word-wrap: break-word;
	}
	&__items {
		font-family: Roboto, serif;
		font-weight: 300;
		font-size: 20px;
		text-align: center;
		display: block;
	}
	&__item {
		color: #000;
		padding: 0.6em 1.5em;
		display: block;
		word-wrap: break-word;
	}
}

	// accordeon
.tab-content {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .35s;
	-o-transition: max-height .35s;
	transition: max-height .35s;
}

.tab {
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	overflow: hidden;

	&:first-child {
		margin-top: 1.5em;
	}

	& input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}

	& label {
		position: relative;
		display: block;
		font-weight: bold;
		padding: 1.5em 0 1.5em 0;
		word-wrap: break-word;
		cursor: pointer;
	}

	& input:checked ~ .tab-content {
		max-height: 100vh;
	}

	& label:before {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		right: 80%;
		left: 0;
		display: block;
		opacity: 0;
		width: 3em;
		height: 3em;
		line-height: 3;
		text-align: center;
		-webkit-transition: all .35s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	& input[type=checkbox] + label:before {
		content: "\25BC";
	}

	& input[type=radio] + label:before {
		content: "\25BC";
	}

	& input[type=checkbox]:checked + label:before {
		transform: rotate(180deg);
	}

	& input[type=radio]:checked + label:before {
		transform: rotateX(180deg);
	}

	& label:after {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		right: 0;
		left: 80%;
		display: block;
		width: 3em;
		height: 3em;
		line-height: 3;
		text-align: center;
		-webkit-transition: all .35s;
		-o-transition: all .35s;
		transition: all .35s;
	}

	& input[type=checkbox] + label:after {
		content: "\25BC";
	}

	& input[type=radio] + label:after {
		content: "\25BC";
	}

	& input[type=checkbox]:checked + label:after {
		transform: rotate(180deg);
	}

	& input[type=radio]:checked + label:after {
		transform: rotateX(180deg);
	}
}

// footer
.social {
	margin-top: 4em;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__list a:link {
		color: #000;
		transition: color .07s linear;
	}
	&__list a:visited {
		color: #000;
		transition: color .07s linear;
	}
	&__list a:hover {
		color: $primary-color;
		transition: color .07s linear;
	}
	&__list a:active {
		color: $primary-color;
		transition: color .07s linear;
	}
}

.fab {
	font-size: 46px;
	display: block;
	margin: 0 0.3em 0.8em 0.3em;
	line-height: .7;
}

// tablet design
@media only screen and (min-width: 768px) and (min-height: 768px) {

// tools
	.search {
		width: 96px;
		height: 96px;
		background-color: #fff;
		& svg {
			left: 12px;
			top: 10px;
		}
	}

	.cart {
		width: 96px;
		height: 96px;
		& svg {
			left: 8px;
			top: 16px;
		}
	}

// intro
	.logo {
		&__text {
			font-size: 10vmin;
			padding-top: 5vmin;
		}
	}
	
	.title {
		margin-top: 4vmin;
		font-size: 5vmin;
			&__2row {
				font-size: 10vmin;
				margin-top: 3vmin;
			}
	}

	.subtitle-position {
		margin-top: 20vmin;
	}
	
	.subtitle {
		font-size: 8vmin;
		margin-top: 3vmin;
			&__2row {
				margin-top: 0.2em;
			}
	}
	
	.subtitle__desc {
		font-size: 4vmin;
	}
	
	.link-btn {
		font-size: 5.12vmin;
		padding: 0.8em 0 0.8em 0;
		border-radius: 100vmin;
	}
	
	.link-btn-position {
		margin-top: 4vmin;
		margin-bottom: 8vmin;
	}

// items
	.header {
		font-size: 8.6vmin;
	}

	.subheader {
		font-size: 3.7vmin;
	}

	.list-items {
		&__description {
			font-size: 3.7vmin;
			margin-top: 1em;
			margin-bottom: 0.5em;
		}
		&__cost-box {
			margin-top: 1vmin;
		}
		&__cost {
			font-size: 6vmin;
		}
		&__cart-icon {
			font-size: 8vmin;
			margin-left: 3vmin;
		}
	}

	.separation-line {
		height: 0.1vmax;
		width: 65vw;
	}

// newsletter
	.newsletter {
		&__one-line {
			font-size: 7vmin;
		}
		&__two-line {
			font-size: 7vmin;
			margin-top: 0.5em;
		}
		&__description {
			font-size: 4vmin;
			margin: 1.5em 0 1.5em 0;
		}
		&__form {
			padding: 1.5em 0 3em 0;
		}
		&__email {
			width: 80%;
			font-size: 6vmin;
			margin-bottom: 1em;
			margin-bottom: 1em;
			padding: 3vmin;
			border-radius: 100vmin;
		}
		&__btn {
			width: 40%;
			font-size: 5vmin;
			padding: 0.5em 0;
			margin-bottom: 1em;
			border-radius: 100vmin;
		}
	}

// links
	.links {
		&__header {
			font-size: 7vmin;
		}
		&__items {
			font-size: 5vmin;
		}
		&__item {
			padding: 0.4em 1.5em;
		}
	}

// accordeon
	.tab input[type=checkbox] + label:after {
		font-size: 4vmin;
	}
	.tab input[type=radio] + label:after {
		font-size: 4vmin;
	}

// footer
	.fab {
		font-size: 10vmin;
		margin: 0 0.3em 0.5em 0.3em;
		line-height: 1;
	}
}

// desktop design
@media only screen and (min-width: 1224px) {

// tools
	.tools {
		display: none;
	}

// intro
	.mouse-parallax {
		height: 70%;
		width: 100%;
		position: absolute;
		top: 0;
		overflow: hidden;
		z-index: 1;
	}

	.mouse-parallax-bg1 {
		position: absolute;
		background-image: url('../img/header/bg1.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 110%;
		height: 98%;
		transition: all 0.1s ease;
		z-index: 1;
	}

	.mouse-parallax-bg2 {
		position: absolute;
		background-image: url('../img/header/bg2.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 110%;
		height: 98%;
		transition: all 0.1s ease;
		z-index: 1;
	}

	.z-index-max {
		z-index: 10;
	}

	.intro {
		background: #fff !important;
	}

	.intro-container {
		margin: 0 7vmax 0 7vmax;
		text-align: center;
	}

	.scroll-wrapper {
		overflow-x: hidden;
		overflow-y: auto;
		perspective: 2px;
	}

	.intro {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height: 70vh;
		position: relative;
		overflow-y: hidden;
		background: #fff;
	}

	.logo {
		&__text {
			font-size: 3.5vmax;
			padding-top: 3vmax;
		}
	}

	.title {
		margin: 4vmax 0 4vmax 0;
		font-size: 2vmax;
		letter-spacing: 0.05em;
			&__2row {
				text-align: center;
				font-size: 6vmax;
				margin-top: 20px;
				letter-spacing: 0.035em;
			}
	}

	.subintro {
		width: 100%;
		height: 100%;
	}

	.people-container {
		display: block;
		position: relative;
		height: auto;
		z-index: 2;
	}

	.people {
		position: absolute;
		display: block;
		right: 0;
		top: -16vw;
		width: 25%;
		z-index: 2;
		@include no-select;
	}

	.intro-polygon-container {
		position: relative;
		bottom: -1px;
		z-index: 10;
	}

	.intro-polygon {
		display: block;
		fill: #fff;
		width: 100%;
		z-index: 5;
	}

	.subtitle-wrapper {
		position: relative;
		width: 100%;
		top: calc(-14vmax - (-20vh + 5vmax) - 12vmin);
		z-index: 10;
	}

	.white-bg {
		background-color: rgba(255, 255, 255, 0);
	}

	.subtitle__wrapper {
		width: 100%;
	}

	.subtitle-position {
		margin-top: 0;
		text-align: left;
	}

	.subtitle {
		font-size: 3vmax;
		margin-top: 0;
			&__2row {
				margin-top: 0;
			}
	}

	.subtitle__desc {
		font-size: 1.5vmax;
		margin: 1.3vmax 0 1.3vmax 0;
	}

	.btn-wrapper {
		display: inline;
	}

	.link-btn {
		width: auto;
		display: inline-block;
		font-size: 1.5vmax;
		padding: 0.6em 2.5em 0.6em 2.5em;
		border-radius: 100vmin;
		text-align: center;
		margin: 0;
		margin-left: 25%;
	}

	.link-btn-position {
		margin-top: 0;
		margin-bottom: 0;
	}

// items
	.header {
		font-size: 2vmax;
	}

	.subheader {
		font-size: 1.1vmax;
		margin-top: 1em;
		margin-bottom: 1.5em;
	}

	.list-items-container {
		display: grid;
		grid-template: auto / repeat(4, 1fr);
		gap: 1.5vmax;
		flex-direction: initial;
	}

	.list-items-2-container {
		display: grid;
		grid-template: auto / repeat(2, 2fr);
		gap: 1.5vmax;
		flex-direction: initial;
		margin: 0 auto;
	}

	.list-items {
		width: 65%;
		&__item {
			display: grid;
			grid-auto-flow: row;
			grid-template: 1fr minmax(1px, auto) minmax(1px, auto) / auto;
			grid-auto-rows: 1fr;
			margin-bottom: 0;
			padding: 1.2vmax;
			background: #eee;
			background-color: #eee;
			border-radius: 2vmin;
			width: 100%;
			max-width: 100%;
			height: auto;
		}
		&__image {
			display: flex;
			align-items: center;
			margin: 0 auto;
			width: 100%;
			max-width: 100%;
			height: auto;
			max-height: 18vmax;
			object-fit: contain;
		}
		&__item picture {
			display: flex;
			align-items: center;
		}
		&__description {
			font-family: Roboto, serif;
			font-weight: 500;
			font-size: 0.85vmax;
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;
			padding: 0.5vmax 0 0.5vmax 0;
			display: block;
			word-wrap: break-word;
		}
		&__cost-box {
			display: flex;
			justify-content: center;
			margin-top: 0.5vmax;
		}
		&__cost {
			display: inline-block;
			font-family: Roboto, sans-serif;
			font-weight: 700;
			font-size: 1.5vmax;
			text-align: center;
			word-wrap: break-word;
			line-height: 1.4;
		}
		&__cart-icon {
			display: inline-block;
			font-size: 1.7vmax;
			margin-left: 0.5vmax;
		}
	}

	.separation-line {
		margin-top: 6vmin;
		margin-bottom: 5vmin;
		width: 50%;
	}

	.newsletter {
		margin-top: 4vmax;
	}

// newsletter
	.newsletter {
	position: relative;
		&__one-line {
			font-size: 2vmax;
			display: block;
			word-wrap: break-word;
			text-shadow: none;
		}
		&__two-line {
			font-family: 'Quotus-Thin', serif;
			font-size: 2vmax;
			margin-top: 0.2em;
			text-shadow: none;
		}
		&__description {
			font-size: 1.25vmax;
			margin: 1.5em 0 1.5em 0;
		}
		&__form {
			padding: 1.5em 0 0 0;
		}
		&__email {
			width: 30%;
			font-size: 1.5vmax;
			margin-bottom: 1.5vmax;
			padding: 1vmax;
		}
		&__btn {
			width: 15%;
			font-size: 1.5vmax;
			padding: 0.5em 0;
			margin-bottom: 1em;
		}
		&__gradient {
			display: none;
		}
	}

	.footer-polygon-container {
		display: block;
		position: relative;
		bottom: 2vmax;
		z-index: 10;
	}

	.footer-polygon {
		display: block;
		fill: #fff;
		width: 100%;
		z-index: 5;
	}

// links
.links-desktop {
	display: block;
	position: relative;
}

.links {
	display: none;
}

.links-desktop-container {
	position: relative;
	bottom: 3vmax;
	z-index: 15;
}

.links-desktop-white-block {
	position: absolute;
	width: 100%;
	height: 2.5vmax;
	bottom: 16.4vmax;
	background-color: #fff;
	z-index: 12;
}

.links-desktop {
	margin: 0 20vmax;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	position: relative;
	bottom: 1vmax;
	z-index: 14;
	&__header {
		font-family: 'Roboto-Slab', sans-serif;
		font-size: 2vmax;
		text-align: left;
		display: block;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 2vmax;
		word-wrap: break-word;
	}
	&__items {
		font-family: Roboto, serif;
		font-weight: 300;
		font-size: 1.5vmax;
		text-align: left;
		display: block;
	}
	&__item {
		color: #000;
		padding: 0.4em 0;
		display: block;
		word-wrap: break-word;
	}
}

// footer
	.social {
		margin-top: 0;
		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0 1vmax 0 1vmax;
		}
		&__list a:link {
			color: #000;
			transition: color .07s linear;
		}
		&__list a:visited {
			color: #000;
			transition: color .07s linear;
		}
		&__list a:hover {
			color: $primary-color;
			transition: color .07s linear;
		}
		&__list a:active {
			color: $primary-color;
			transition: color .07s linear;
		}
	}

	.fab {
		font-size: 2.5vmax;
		margin: 0 0.85em 0.5em 0em;
	}

	.fab:last-child {
		margin-right: 0;
	}
}