@import "null.scss";

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@mixin font($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"),
         url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}

@import "fonts";

$color-list: #fff, rgba(0, 0, 0, 0);
$primary-color: #3acdd5;
$primary-light-color: #21ecf7;

$mobile-input: calc(100vw - 64px);
$tablet-input: calc(100vw - 88px);
$desktop-input: 20vw;

@mixin gradient($direction, $color-list) {
   background: -webkit-linear-gradient($direction, $color-list);
   background: -moz-linear-gradient($direction, $color-list);
   background: -o-linear-gradient($direction, $color-list);
   background: linear-gradient($direction, $color-list);
}

@mixin no-select {
   -ms-user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

* {
   // hide default background color on click
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   -webkit-tap-highlight-color: transparent;
}

.simplebar-track.simplebar-vertical {
   // vertical track
   width: 4px; // ~ 10 real px on mobile
   max-width: 4px;
   background-color: transparent;
}

.simplebar-track.simplebar-horizontal {
   // horizontal track
   height: 4px;
   max-height: 4px;
   background-color: transparent;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
   // bar vertical
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   width: 10px;
   max-width: 10px;
   border-radius: 0;
   background-color: #000;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
   // bar horizontal
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   height: 10px;
   max-height: 10px;
   border-radius: 0;
   background-color: #000;
}

.simplebar-scrollbar.simplebar-visible::before {
   // bar before delay
   opacity: 0.252;
}

.simplebar-scrollbar::before {
   // bar after delay
   opacity: 0;
   transition: opacity 0.2s linear;
}

a:active {
   color: #000;
}

*::selection {
   color: #ffffff;
   background-color: #0dc2cc;
   text-shadow: none;
}

.intro-container {
   margin: 0 6vw 0 6vw;
}

.header-container {
   margin: 0 6vw 0 6vw;
}

.text-center {
   text-align: center;
}

.native-cart-scroll-off {
   overflow: hidden;
   height: 100vh;
}

.popup-cart-visible {
   opacity: 1 !important;
   visibility: visible !important;
}

// tools
.tools {
   position: relative;
}
.search-wrapper {
   position: absolute;
   top: 48px;
   right: 0;
}
.search-item-wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   margin-left: 0;
}
.search-item {
   display: none;
   grid-template: minmax(1px, 100%) / 0.6fr 1fr;
   align-items: center;
   position: relative;
   z-index: 20;
   width: $mobile-input;
   cursor: pointer;
   background-color: #ddd;
   border: 2px solid #444;
   border-top: 0;
}
.search-item:last-child {
   border-radius: 0 0 5vw 5vw;
}
.search-image {
   padding: 0.8vmax;
   width: 100%;
   max-width: 100%;
   min-height: 25vw;
   max-height: 15vh;
   object-fit: contain;
}
.search-description {
   font-family: Roboto, serif;
   font-weight: 500;
   font-size: 14px;
   text-align: center;
   margin: 0.5em;
   margin-left: 0;
   display: block;
   word-break: break-word;
}
.search-form {
   position: fixed;
   display: block;
   top: 0;
   right: 0;
   z-index: 10;
}
.search-input {
   height: 48px;
   width: 0;
   padding-right: 0;
   border: none;
   border-bottom: 0px solid transparent;
   outline: none;
   background: transparent;
   transition: 0.4s cubic-bezier(0, 0.85, 0, 1);
   position: absolute;
   top: 0;
   right: 0;
   z-index: 25;
   cursor: pointer;
   overflow: hidden;
   font-family: "Roboto-Slab", sans-serif;
   font-size: 18px;
   border-radius: 0 0 0 24px;
   &:focus {
      width: $mobile-input;
      z-index: 15;
      padding: 0 57px 0 10px;
      border-radius: 0 0 0 0;
      border-bottom: 2px solid #000;
      background: #fff;
      cursor: initial;
   }
}

.search-input:focus,
.search-item-wrapper {
   position: fixed;
   top: 48px;
   right: 0;
   z-index: 16;
}

.search-input:focus {
   top: 0;
}

.search-btn {
   display: block;
   border: none;
   height: 48px;
   width: 48px;
   position: relative;
   top: 0;
   right: 0;
   transition: width 0.3s;
   cursor: pointer;
   background-image: linear-gradient(180deg, #ddd, #777);
   border-radius: 0 0 0 50%;
   overflow: hidden;
   z-index: 30;
   & svg {
      position: relative;
      left: 6px;
      top: 4px;
   }
}

.cart-btn {
   position: fixed;
   display: block;
   width: 48px;
   height: 48px;
   left: 0;
   background-image: linear-gradient(180deg, #ddd, #777);
   border-radius: 0 0 50% 0;
   z-index: 25;
   cursor: pointer;
   & svg {
      position: relative;
      left: 4px;
      top: 8px;
   }
}

// popup
.popup-cart {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   &__area {
      cursor: default;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
   }
   &__container {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__content {
      cursor: default;
      background-color: #fff;
      box-shadow: 0 0 10px 3px #000;
      color: #000;
      max-width: 95vw;
      padding: 4vmin;
      border-radius: 8vmin;
      overflow: visible;
      position: relative;
      transform: translate(0%, -5%); // displacement of the cart window
   }
   &__empty {
      width: 100%;
      color: #777;
      text-align: center;
      word-break: break-word;
      font-size: 5.5vmin;
      font-family: Roboto, serif;
      font-weight: 300;
   }
}

.cart-item {
   &__image-and-text {
      display: grid;
      grid-template: auto / 0.4fr 1fr;
      grid-template-areas:
         "grid-image grid-text"
         "grid-cost grid-cost";
   }
   &__image {
      display: flex;
      align-items: center;
      width: 100%;
      object-fit: contain;
   }
   picture {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      grid-area: grid-image;
   }
   &__description {
      font-family: Roboto, serif;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      margin-left: 15px;
      display: block;
      word-break: break-word;
      grid-area: grid-text;
   }
   &__string-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1vmin;
      grid-area: grid-cost;
   }
   &__cost {
      display: inline-block;
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 16px;
      margin-right: 5vmin;
      word-break: break-word;
      line-height: 1.4;
   }
   &__trash-icon {
      display: inline-block;
      font-size: 20px;
      margin-left: 9vmin;
      padding: 10px;
      cursor: pointer;
      @include no-select;
   }
   &__trash-icon:active {
      color: $primary-color;
   }
}

.amount {
   &-box {
      display: flex;
      justify-content: center;
   }
   &__number {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Roboto, serif;
      font-weight: 500;
      text-align: center;
      word-break: break-word;
      font-size: 16px;
      width: 13vmin;
      background-color: #d6d6d6;
   }
   &__btn-addition,
   &__btn-subtract {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #fff;
      background-color: rgb(32, 89, 173);
      font-family: Roboto, serif;
      font-size: 6.5vmin;
      width: 7vmin;
      padding: 0.3vmin;
      line-height: 1;
      border-radius: 1.8vmin 0 0 1.8vmin;
      @include no-select;
   }
   &__btn-subtract {
      border-radius: 0 1.8vmin 1.8vmin 0;
   }

   &__btn-addition:active,
   &__btn-subtract:active {
      background-color: $primary-color;
      color: #fff;
      transition: color 0.075s linear;
   }
}

.total-cost {
   &-box {
   }
   &__line {
      width: 75%;
      border-top: 0.65vmin dashed #000;
      margin: 0 auto;
      margin-top: 1vmin;
      margin-bottom: 3vmin;
   }
   &__inner {
      display: flex;
      justify-content: center;
   }
   &__text,
   &__cost {
      font-family: Roboto, serif;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      word-break: break-word;
   }
   &__cost {
      margin-left: 10px;
   }
}

.order-buttons {
   &-box {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
   }
   &__close {
      cursor: pointer;
      text-transform: uppercase;
      font-size: 18px;
      font-family: Roboto, serif;
      font-weight: 500;
      text-align: center;
      word-break: break-word;
      padding: 10px 20px;
      border-radius: 50px;
      color: #fff;
      background-color: #000;
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
   }
   &__confirm {
      cursor: pointer;
      text-transform: uppercase;
      font-size: 18px;
      font-family: Roboto, serif;
      font-weight: 500;
      text-align: center;
      word-break: break-word;
      padding: 10px 20px;
      border-radius: 50px;
      color: #fff;
      background-color: #00c800;
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
      text-shadow: #000 0px 0px 1px;
   }
   &__close:active {
      background-color: #555;
      color: #fff;
      transition: color 0.075s linear;
   }
   &__confirm:active {
      background-color: #0f0;
      color: #fff;
      transition: color 0.075s linear;
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
      text-shadow: #000 0px 0px 4px;
   }
}

.enlarged-image {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   transition: all 0.5s ease 0s;
   &__area {
      cursor: zoom-out;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
   }
   &__align-container {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__image-container {
      position: relative;
   }
   &__image {
      background-color: #fff;
      box-shadow: 0 0 10px 3px #000;
      min-width: 30vmin;
      max-width: 95vw;
      min-height: 30vmin;
      max-height: 85vh;
      padding: 5vmin 7vmin;
      border-radius: 5vmin;
      position: relative;
      transform: translate(0%, 0%); // displacement of the cart window
      transition: all 0.5s ease 0s;
   }
   &__close-btn {
      cursor: pointer;
      font-size: 7vmin;
      line-height: 1;
      padding: 3.1vmin 4vmin;
      position: absolute;
      top: 0;
      right: 0;
   }
}

// intro

.supintro {
   display: block;
   background: #777 url("../img/header/bg1.jpg") 0 0 / cover no-repeat;
}

.logo {
   text-align: center;
   margin: 0 auto;
   &__text {
      color: #000;
      letter-spacing: -3px;
      line-height: 1;
      font-size: 50px;
      font-family: "Kaushan Script", cursive;
      transform: rotate(-10deg);
      margin-right: 21px;
      margin-bottom: 30px;
      padding-top: 30px;
      @include no-select;
   }
}

.title {
   text-transform: uppercase;
   font-family: "Quotus-Thin", sans-serif;
   font-size: 20px;
   display: block;
   word-break: break-word;
   line-height: 1;
   text-shadow: #fff 0px 0px 4px, #fff 0px 2px 10px;
   padding-bottom: 3em;
   &__2row {
      font-family: "Roboto-Slab", sans-serif;
      display: block;
      font-size: 40px;
      margin-top: 0.3em;
      color: #fff;
      text-shadow: #000 0px 0px 4px, #000 0px 2px 10px;
      display: block;
      word-break: break-word;
      line-height: 1;
      letter-spacing: 0.035em;
   }
}

.white-bg {
   background-color: #fff;
}

.intro-polygon,
.intro-polygon-container,
.intro-float-polygon,
.people,
.people-container,
.footer-polygon,
.footer-polygon-container {
   display: none;
}

.subtitle-position {
   text-align: center;
}

.subtitle {
   font-family: "Roboto-Slab", sans-serif;
   font-size: 30px;
   color: #272626;
   width: 100%;
   padding-top: 1.5vmax;
   word-break: break-word;
   &__2row {
      font-family: "Quotus-Thin", sans-serif;
      text-transform: uppercase;
      display: block;
      margin-top: 0;
      width: 100%;
      word-break: break-word;
   }
}

.subtitle__desc {
   text-align: left;
   font-family: Roboto, serif;
   font-weight: 300;
   word-break: break-word;
   font-size: 18px;
   margin: 1em 0;
   display: block;
}

.subtitle__desc_indent {
   text-indent: 2em;
   margin: 1em 0;
}

.btn-wrapper a {
   color: #fff;
}

.link-btn {
   display: block;
   word-break: break-word;
   width: 50%;
   margin: 0 auto;
   font-family: Roboto, sans-serif;
   font-weight: 700;
   font-size: 15px;
   text-transform: uppercase;
   padding: 1em 0 0.8em 0;
   border-radius: 100px;
   color: #fff;
   background-color: $primary-color;
   box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
   text-shadow: #000 0px 0px 4px;
   transition: box-shadow 0.25s linear;
   &:active {
      background-color: $primary-light-color;
      box-shadow: 0 0 10px 1px $primary-light-color;
      transition: box-shadow 0.12s linear;
   }
}

.link-btn-position {
   margin-top: 20px;
   margin-bottom: 10vmin;
}

.link-btn-position_min-margin {
   margin-top: 5vh;
   margin-bottom: 5vh;
}

// items

#bags,
#camps,
#cameras,
#lenses {
   padding-top: 3vmin;
}

.header {
   font-family: "Quotus-Thin", sans-serif;
   font-size: 30px;
   color: #242424;
   text-transform: uppercase;
   display: block;
   word-break: break-word;
}

.subheader {
   font-family: Roboto, serif;
   font-weight: 400;
   font-size: 16px;
   color: #242424;
   margin-top: 1em;
   margin-bottom: 1.1em;
   display: block;
   word-break: break-word;
}

.sort {
   &-bags__buttons-container,
   &-camps__container,
   &-cameras__container,
   &-lenses__container {
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
   }
   &-bags__cheap,
   &-camps__cheap,
   &-cameras__cheap,
   &-lenses__cheap,
   &-bags__expensive,
   &-camps__expensive,
   &-cameras__expensive,
   &-lenses__expensive {
      display: flex;
      justify-content: center;
      cursor: pointer;
      @include no-select;
      font-family: Roboto, sans-serif;
      font-size: 24px;
      font-weight: 700;
      width: 18vmin;
      background-color: #dadada;
      border: 2px solid #000;
      border-right: 1px solid #000;
      border-radius: 4vmin 0 0 4vmin;
   }
   &-bags__expensive,
   &-camps__expensive,
   &-cameras__expensive,
   &-lenses__expensive {
      border-radius: 0 4vmin 4vmin 0;
      border-right: 2px solid #000;
      border-left: 1px solid #000;
   }
   &-bags__cheap--active,
   &-camps__cheap--active,
   &-cameras__cheap--active,
   &-lenses__cheap--active,
   &-bags__expensive--active,
   &-camps__expensive--active,
   &-cameras__expensive--active,
   &-lenses__expensive--active {
      background-color: $primary-color;
      border: 2px solid $primary-color;
      color: #fff;
      text-shadow: #000 0 0 4px;
      font-weight: 400;
      cursor: auto;
   }
   &-bags__cheap--deactive,
   &-camps__cheap--deactive,
   &-cameras__cheap--deactive,
   &-lenses__cheap--deactive {
      border-right: 0;
   }
   &-bags__expensive--deactive,
   &-camps__expensive--deactive,
   &-cameras__expensive--deactive,
   &-lenses__expensive--deactive {
      border-left: 0;
   }
}

.list-items-1-container {
   display: grid;
   grid-template: auto / repeat(1, 1fr);
   gap: 1.5vmax;
   flex-direction: initial;
   margin: 0 auto;
}

.list-items-2-container {
   display: grid;
   grid-template: auto / repeat(2, 2fr);
   gap: 1vmin;
   flex-direction: initial;
   margin: 0 auto;
}

.list-items {
   margin: 0 auto;
   width: 90%;
   &__item {
      display: grid;
      grid-auto-flow: row;
      grid-template: 1fr minmax(1px, auto) minmax(1px, auto) / 1fr;
      grid-auto-rows: 1fr;
      margin-bottom: 2vmin;
   }
   &__image {
      display: flex;
      cursor: zoom-in;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      height: auto;
      max-height: 40vmin;
      object-fit: contain;
   }
   &__item picture {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
   }
   &__description {
      font-family: Roboto, serif;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      display: block;
      word-break: break-word;
   }
   &__cost-box {
      text-align: center;
      word-break: break-word;
   }
   &__cost {
      display: inline-block;
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 22px;
      word-break: break-word;
      line-height: 1.4;
   }
   &__icon {
      display: inline-block;
      font-size: 30px;
      margin-left: 1vmin;
      margin-right: 1vmin;
      cursor: pointer;
      color: #000;
      transition: color 0.2s linear;
      position: relative;
   }
   &__icon--active {
      color: $primary-color;
      transition: color 0.08s linear;
   }
}

.tooltip {
   display: block;
   position: absolute;
   top: -62px;
   right: -26px;
   width: 80px;
   background: #202020;
   box-shadow: 0px 0px 15px 6px rgba(58, 205, 213, 0.85);
   font-family: Roboto, serif;
   font-weight: 500;
   color: $primary-color;
   padding: 5px 10px;
   font-size: 16px;
   border-radius: 4px;
   transition: all 0.2s linear;
   opacity: 0;
}

.tooltip::after {
   content: "";
   display: block;
   position: absolute;
   bottom: -8px;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 6px 6px 0 6px;
   border-color: #202020 transparent transparent transparent;
}

.opacity1 {
   opacity: 1;
}

.buyBtnCursorDefault {
   cursor: auto !important;
}

.separation-line {
   height: 2px;
   width: 70vw;
   display: block;
   margin: 0 auto;
   background-color: #000;
   margin-top: 0;
   margin-bottom: 4vmin;
}

// newsletter
.newsletter {
   position: relative;
   margin-top: 7vmin;
   background: url("../img/footer/bg.png") 0 0 / cover no-repeat;
   &__one-line {
      font-family: "Roboto-Slab", sans-serif;
      text-align: center;
      font-size: 25px;
      text-shadow: #fff 0px 0px 4px, #fff 0px 0px 10px, #fff 0px 0px 10px;
      display: block;
      word-break: break-word;
   }
   &__two-line {
      font-family: "Roboto-Slab", sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 28px;
      text-shadow: #fff 0px 0px 1px, #fff 0px 0px 2px, #fff 0px 0px 3px,
         #fff 0px 0px 4px, #fff 0px 0px 5px, #fff 0px 0px 6px, #fff 0px 0px 8px,
         #fff 0px 0px 10px, #fff 0px 0px 10px;
      display: block;
      margin-top: 0.5em;
      display: block;
      word-break: break-word;
   }
   &__description {
      font-family: Roboto, serif;
      font-weight: 500;
      text-align: center;
      font-size: 18px;
      color: #fff;
      text-shadow: #000 0px 0px 6px, #000 0px 0px 7px, #000 0px 0px 12px,
         #000 0px 0px 10px;
      margin: 1.5em 0;
      display: block;
      word-break: break-word;
   }
   &__form {
      background: none;
      padding: 1em 0 3em 0;
   }
   &__email {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      background-color: #ccc;
      width: 85%;
      max-width: 100%;
      font-size: 24px;
      padding: 15px;
      margin-bottom: 0.7em;
      text-align: center;
      border-radius: 100px;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.7em;
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
   }
   &__email::placeholder {
      color: #555;
   }
   &__email:-ms-input-placeholder {
      color: #555;
   }
   &__email::-ms-input-placeholder {
      color: #555;
   }
   &__email:focus::placeholder {
      color: rgba(0, 0, 0, 0);
   }
   &__email:focus:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0);
   }
   &__email:focus::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0);
   }
   &__email:focus {
      box-shadow: 0px 0px 15px 5px $primary-color;
   }
   &__btn {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      background-color: $primary-color;
      color: #fff;
      width: 50%;
      max-width: 100%;
      font-size: 24px;
      padding: 15px 0;
      text-align: center;
      border-radius: 100px;
      text-transform: uppercase;
      display: block;
      word-break: break-word;
      margin: 0 auto;
      margin-bottom: 0.7em;
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
      text-shadow: #000 0px 0px 4px;
      transition: box-shadow 0.25s linear;
      position: relative;
      z-index: 10;
   }
   &__btn:active {
      background-color: $primary-light-color;
      box-shadow: 0 0 10px 1px $primary-light-color;
      transition: box-shadow 0.07s linear;
   }
   &__gradient {
      position: absolute;
      width: 100%;
      height: 12%;
      bottom: -1px;
      @include gradient(bottom, $color-list);
   }
}

// links
.links-desktop {
   display: none;
}

.links {
   display: block;
   &__header {
      font-family: "Roboto-Slab", sans-serif;
      font-size: 30px;
      text-align: center;
      display: block;
      width: 65%;
      margin: 0 auto;
      word-break: break-word;
   }
   &__items {
      font-family: Roboto, serif;
      font-weight: 300;
      font-size: 20px;
      text-align: center;
      display: block;
   }
   &__item {
      color: #000;
      padding: 0.4em 0;
      display: block;
      word-break: break-word;
   }
}

// accordeon
.tab-content {
   max-height: 0;
   overflow: hidden;
   -webkit-transition: max-height 0.35s;
   -o-transition: max-height 0.35s;
   transition: max-height 0.35s;
}

.tab {
   position: relative;
   margin-bottom: 1px;
   width: 100%;
   overflow: hidden;
   & input {
      position: absolute;
      opacity: 0;
      z-index: -1;
   }
   & label {
      position: relative;
      display: block;
      font-weight: bold;
      padding: 0.8em 0 0.8em 0;
      word-break: break-word;
      cursor: pointer;
   }
   & input:checked ~ .tab-content {
      max-height: 100vh;
   }
   & label:before {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 80%;
      left: 0;
      display: block;
      opacity: 0;
      width: 3em;
      height: 3em;
      line-height: 3;
      text-align: center;
      -webkit-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
   }
   & input[type="checkbox"] + label:before {
      content: "\25BC";
   }
   & input[type="radio"] + label:before {
      content: "\25BC";
   }
   & input[type="checkbox"]:checked + label:before {
      transform: rotate(180deg);
   }
   & input[type="radio"]:checked + label:before {
      transform: rotateX(180deg);
   }
   & label:after {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 80%;
      display: block;
      width: 3em;
      height: 3em;
      line-height: 3;
      text-align: center;
      -webkit-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
   }
   & input[type="checkbox"] + label:after {
      content: "\25BC";
   }
   & input[type="radio"] + label:after {
      content: "\25BC";
   }
   & input[type="checkbox"]:checked + label:after {
      transform: rotate(180deg);
   }
   & input[type="radio"]:checked + label:after {
      transform: rotateX(180deg);
   }
}

// footer
.social {
   margin-top: 1.5em;
   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   &__list a:link {
      color: #000;
      transition: color 0.07s linear;
   }
   &__list a:visited {
      color: #000;
      transition: color 0.07s linear;
   }
   &__list a:hover {
      color: $primary-color;
      transition: color 0.07s linear;
   }
   &__list a:active {
      color: $primary-color;
      transition: color 0.07s linear;
   }
}

.fab {
   display: block;
   font-size: 11vmin;
   margin: 0 0.3em 0.5em 0.3em;
}

// tablet design
@media only screen and (min-width: 768px) {
   // scroll
   .simplebar-track.simplebar-vertical {
      // vertical track
      width: 5px;
      max-width: 5px;
      background-color: transparent;
   }

   .simplebar-track.simplebar-horizontal {
      // horizontal track
      height: 5px;
      max-height: 5px;
      background-color: transparent;
   }

   // tools
   .search-wrapper {
      position: absolute;
      top: 72px;
      right: 0;
   }
   .search-item-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-left: 0;
   }
   .search-item {
      display: none;
      grid-template: minmax(1px, 100%) / 0.5fr 1fr;
      align-items: center;
      position: relative;
      z-index: 45;
      width: $tablet-input;
      cursor: pointer;
      background-color: #ddd;
      border: 0.3vmax solid #444;
      border-top: 0;
   }
   .search-item:last-child {
      border-radius: 0 0 3.5vw 3.5vw;
   }
   .search-image {
      padding: 0.8vmax;
      width: 100%;
      max-width: 100%;
      min-height: 15vw;
      max-height: 15vh;
      object-fit: contain;
   }
   .search-description {
      font-family: Roboto, serif;
      font-weight: 500;
      font-size: 2vmax;
      text-align: center;
      margin: 0.5em;
      margin-left: 0;
      display: block;
      word-break: break-word;
   }
   .search-input {
      height: 72px;
      width: 0;
      padding-right: 72px;
      font-size: 30px;
      border-radius: 0 0 0 36px;
      &:focus {
         width: $tablet-input;
         padding: 0 88px 0 15px;
         border-bottom: 4px solid #000;
         border-radius: 0 0 0 0;
      }
   }
   .search-input:focus,
   .search-item-wrapper {
      position: fixed;
      top: 72px;
      right: 0;
      z-index: 16;
   }
   .search-input:focus {
      top: 0;
   }
   .search-btn {
      height: 72px;
      width: 72px;
      & svg {
         position: relative;
         left: 9px;
         top: 7px;
      }
   }

   .cart-btn {
      width: 72px;
      height: 72px;
      & svg {
         left: 6px;
         top: 12px;
      }
   }

   .popup-cart {
      &__empty {
         font-size: 3.5vmax;
      }
      &__content {
         padding: 4vmin;
         overflow: visible;
      }
   }

   .cart-item {
      &__image-and-text {
         grid-template: auto / 0.5fr 1fr;
         grid-template-areas:
            "grid-image grid-text"
            "grid-cost grid-cost";
      }
      picture {
         display: flex;
         align-items: center;
         width: 100%;
         height: 100%;
      }
      &__description {
         font-size: 3vmin;
         margin-top: 0;
         margin-left: 4vmin;
      }
      &__string-container {
         margin-top: 2vmin;
      }
      &__cost {
         font-size: 3.5vmin;
         margin-right: 5vmin;
      }
      &__trash-icon {
         font-size: 3.5vmin;
         margin-left: 8vmin;
         padding: 1vmin;
      }
   }

   .amount {
      &__number {
         font-size: 3.5vmin;
         width: 9vmin;
      }
      &__btn-addition,
      &__btn-subtract {
         font-size: 5vmin;
         width: 5vmin;
      }
   }

   .total-cost {
      &-box {
         margin-top: 3vmin;
      }
      &__line {
         margin-bottom: 2.4vmin;
         border-top: 0.4vmin dashed #000;
      }
      &__text,
      &__cost {
         font-size: 3.8vmin;
      }
   }
   .order-buttons {
      &-box {
         margin-top: 2vmin;
      }
      &__close {
         font-size: 3vmin;
         padding: 2vmin 4vmin;
         border-radius: 100px;
      }
      &__confirm {
         font-size: 3vmin;
         padding: 2vmin 4vmin;
         border-radius: 100px;
         text-shadow: #000 0px 0px 3px;
      }
   }
   .enlarged-image {
      &__close-btn {
         font-size: 6vmin;
         padding: 3.1vmin 4vmin;
      }
   }

   // intro
   .logo {
      &__text {
         font-size: 5.5vmax;
         padding-top: 3vmax;
      }
   }

   .title {
      margin-top: 5vmax;
      font-size: 2.8vmax;
      padding-bottom: 3.5em;
      &__2row {
         font-size: 8vmax;
         margin-top: 1vmax;
         letter-spacing: 0.045em;
      }
   }

   .subtitle-position {
   }

   .subtitle {
      font-size: 5vmax;
      padding-top: 3vmax;
      word-break: normal;
      &__2row {
         margin-top: 0.2em;
      }
   }

   .subtitle__desc {
      font-size: 2.5vmax;
      word-break: normal;
   }

   .link-btn {
      font-size: 2.6vmax;
      padding: 0.5em 0 0.5em 0;
      border-radius: 100vmax;
      width: 45%;
   }

   .link-btn-position {
      margin-top: 4vmax;
      margin-bottom: 5vmax;
   }

   .link-btn-position_min-margin {
      margin-top: 5vmax;
      margin-bottom: 5vmax;
   }

   // items
   .header {
      font-size: 4vmax;
   }

   .subheader {
      font-size: 2vmax;
      margin-top: 0.7em;
      margin-bottom: 1em;
   }

   .sort {
      &-bags__cheap,
      &-camps__cheap,
      &-cameras__cheap,
      &-lenses__cheap,
      &-bags__expensive,
      &-camps__expensive,
      &-cameras__expensive,
      &-lenses__expensive {
         font-size: 2.5vmax;
         width: 10vmax;
         border: 0.3vmax solid #000;
         border-right: 0.15vmax solid #000;
         border-radius: 5vmax 0 0 5vmax;
      }
      &-bags__expensive,
      &-camps__expensive,
      &-cameras__expensive,
      &-lenses__expensive {
         border-radius: 0 5vmax 5vmax 0;
         border-right: 0.3vmax solid #000;
         border-left: 0.15vmax solid #000;
      }
      &-bags__cheap--active,
      &-camps__cheap--active,
      &-cameras__cheap--active,
      &-lenses__cheap--active,
      &-bags__expensive--active,
      &-camps__expensive--active,
      &-cameras__expensive--active,
      &-lenses__expensive--active {
         border: 0.3vmax solid $primary-color;
         text-shadow: #000 0 0 0.4vmax;
      }
      &-bags__cheap--deactive,
      &-camps__cheap--deactive,
      &-cameras__cheap--deactive,
      &-lenses__cheap--deactive {
         border-right: 0;
      }
      &-bags__expensive--deactive,
      &-camps__expensive--deactive,
      &-cameras__expensive--deactive,
      &-lenses__expensive--deactive {
         border-left: 0;
      }
   }

   .list-items-1-container {
      display: grid;
      grid-template: auto / repeat(2, 2fr);
      gap: 2vmin;
      flex-direction: initial;
      margin: 0 auto;
   }

   .list-items-2-container {
      display: grid;
      grid-template: auto / repeat(2, 2fr);
      gap: 2vmin;
      flex-direction: initial;
      margin: 0 auto;
   }

   .list-items-3-container {
      display: grid;
      grid-template: auto / repeat(3, 2fr);
      gap: 2vmin;
      flex-direction: initial;
      margin: 0 auto;
   }

   .list-items-4-container {
      display: grid;
      grid-template: auto / repeat(3, 2fr);
      gap: 2vmin;
      flex-direction: initial;
      margin: 0 auto;
   }

   .list-items {
      width: 80%;
      &__item {
         display: grid;
         grid-auto-flow: row;
         grid-template: 1fr minmax(1px, auto) minmax(1px, auto) / 1fr;
         grid-auto-rows: 1fr;
         margin-bottom: 0;
         padding: 2vmin;
         background-color: #eee;
         border-radius: 2vmin;
         width: 100%;
         max-width: 100%;
         height: auto;
      }
      &__image {
         display: flex;
         align-items: center;
         margin: 0 auto;
         width: 100%;
         max-width: 100%;
         height: auto;
         max-height: 12vmax;
         object-fit: contain;
      }
      &__item picture {
         display: flex;
         align-items: center;
         width: 100%;
         height: 100%;
      }
      &__description {
         font-size: 2.1vmin;
      }
      &__cost-box {
      }
      &__cost {
         font-size: 3.8vmin;
      }
      &__icon {
         font-size: 5vmin;
      }
   }

   .tooltip {
      top: -9.8vmin;
      right: -5.2vmin;
      width: 15vmin;
      padding: 1vmin 2.5vmin;
      font-size: 2.6vmin;
      border-radius: 1vmin;
   }

   .tooltip::after {
      bottom: -1.7vmin;
      border-width: 1.2vmin 1.2vmin 0 1.2vmin;
   }

   .separation-line {
      margin-top: 1vmin;
      margin-bottom: 2vmin;
      width: 60vw;
   }

   // newsletter
   .newsletter {
      margin-top: 5vmin;
      &__one-line {
         font-size: 5vmin;
      }
      &__two-line {
         font-size: 5vmin;
         margin-top: 0.5em;
      }
      &__description {
         font-size: 3vmin;
         margin: 1.5em 0;
      }
      &__form {
         padding: 1.5em 0 3em 0;
      }
      &__email {
         width: 70%;
         font-size: 4vmin;
         margin-bottom: 1em;
         margin-bottom: 1em;
         padding: 2vmin;
         border-radius: 100vmin;
      }
      &__btn {
         width: 40%;
         font-size: 3.5vmin;
         padding: 0.5em 0;
         margin-bottom: 1em;
         border-radius: 100vmin;
      }
   }

   // links
   .links {
      &__header {
         font-size: 5vmin;
      }
      &__items {
         font-size: 4vmin;
      }
      &__item {
         padding: 0.4em 1.5em;
      }
   }

   // accordeon
   .tab {
      position: relative;
      margin-bottom: 1px;
      width: 100%;
      overflow: hidden;
      & input {
         position: absolute;
         opacity: 0;
         z-index: -1;
      }
      & label {
         position: relative;
         display: block;
         font-weight: bold;
         padding: 1.5em 0 1.5em 0;
         word-break: break-word;
         cursor: pointer;
      }
   }
   .tab input[type="checkbox"] + label:after {
      font-size: 4vmin;
   }
   .tab input[type="radio"] + label:after {
      font-size: 4vmin;
   }

   // footer
   .fab {
      font-size: 7vmin;
      margin: 0.2em 0.3em 0.5em 0.3em;
   }
}

// desktop design
@media only screen and (min-width: 1224px) {
   // scroll
   .simplebar-track.simplebar-vertical {
      // vertical track
      width: 10px;
      max-width: 10px;
      background-color: transparent;
   }

   .simplebar-track.simplebar-horizontal {
      // horizontal track
      height: 12px;
      max-height: 12px;
      background-color: transparent;
   }

   .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
      // bar vertical
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 10px;
      max-width: 10px;
      opacity: 1;
      border-radius: 30px;
      background-image: linear-gradient(to bottom, #45f6ff 0%, #207479 100%);
   }

   .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
      // bar horizontal
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 1;
      height: 10px;
      max-height: 10px;
      border-radius: 30px;
      background-image: linear-gradient(to left, #45f6ff 0%, #207479 100%);
   }

   .simplebar-scrollbar.simplebar-visible::before {
      // bar before delay
      opacity: 1;
   }

   .simplebar-scrollbar::before {
      // bar after delay
      opacity: 1;
   }

   // tools
   .tools {
      position: relative;
   }

   .search-wrapper {
      position: absolute;
      top: 4vmax;
      right: 15vmax;
   }
   .search-item-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-left: 1vw;
   }
   .search-item {
      display: none;
      grid-template: minmax(1px, 100%) / 0.7fr 1fr;
      align-items: center;
      position: relative;
      z-index: 45;
      width: 18vw;
      cursor: pointer;
      background-color: #ddd;
      border: 0.15vmax solid #444;
      border-top: 0;
   }
   .search-item:last-child {
      border-radius: 0 0 1vmax 1vmax;
   }
   .search-image {
      padding: 0.5vw;
      width: 100%;
      max-width: 100%;
      min-height: 6vw;
      max-height: 15vh;
      object-fit: contain;
   }
   .search-description {
      font-family: Roboto, serif;
      font-weight: 500;
      font-size: 0.7vmax;
      text-align: center;
      margin: 0.5em;
      margin-left: 0;
      display: block;
      word-break: break-word;
   }
   .search-form {
      position: relative;
      display: block;
      width: 40%;
      margin: initial;
      top: initial;
      right: initial;
      z-index: 20;
   }
   .search-input {
      width: $desktop-input;
      height: 2.2vmax;
      border: 0.15vmax solid #000;
      outline: none;
      background: #fff;
      padding-right: initial;
      padding: 0 0.8vmax 0 0.8vmax;
      position: relative;
      top: initial;
      right: initial;
      z-index: 25;
      cursor: initial;
      overflow: initial;
      font-size: 1vmax;
      border-radius: 100px;
      &:focus {
         width: $desktop-input;
         z-index: 25;
         padding: 0 0.8vmax 0 0.8vmax;
         border-radius: 100px;
         border-bottom: initial;
         border: 0.15vmax solid #000;
         background: #fff;
      }
   }
   .search-input:focus,
   .search-item-wrapper {
      position: static;
      top: auto;
      right: auto;
      z-index: auto;
   }
   .search-btn {
      position: absolute;
      top: initial;
      right: initial;
      width: 2.2vmax;
      height: 2.2vmax;
      top: 0;
      margin-left: 20vw;
      border: none;
      background-image: linear-gradient(180deg, #ddd, #777);
      border-radius: 0 50px 50px 0;
      z-index: 20;
      transition: initial;
      display: initial;
      overflow: hidden;
      display: none;
      & svg {
         position: relative;
         left: 0.2vmax;
         top: 0.3vmax;
         width: 1.5vmax;
         height: 1.5vmax;
      }
   }

   .cart-btn {
      position: absolute;
      top: 4vmax;
      right: 9vmax;
      display: block;
      width: 2.2vmax;
      height: 2.2vmax;
      left: initial;
      background-image: linear-gradient(180deg, #ddd, #777);
      border-radius: 20% 20% 20% 20%;
      z-index: 25;
      & svg {
         position: relative;
         left: 0.21vmax;
         top: 0.25vmax;
         width: 1.7vmax;
         height: 1.7vmax;
      }
   }

   .popup-cart {
      &__empty {
         font-size: 1.2vmax;
      }
      &__content {
         padding: 1.5vmax 1.5vmax 1.15vmax 1.5vmax;
         border-radius: 2.5vmax;
         max-width: 40vw;
         overflow: auto;
      }
   }

   .cart-item {
      &__image-and-text {
         grid-template: auto / 0.5fr 1fr;
         grid-template-areas:
            "grid-image grid-text"
            "grid-image grid-cost";
      }
      &__image {
         display: flex;
         align-items: center;
         width: 100%;
         max-height: 9vmax;
         object-fit: contain;
         margin: 0 auto;
      }
      picture {
         display: flex;
         align-items: center;
         width: 100%;
         height: 100%;
      }
      &__description {
         font-family: Roboto, serif;
         font-weight: 500;
         font-size: 0.8vmax;
         text-align: center;
         margin-top: 0;
         margin-left: 15px;
         display: block;
         word-break: break-word;
      }
      &__string-container {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 0.7vmin;
      }
      &__cost {
         display: inline-block;
         font-family: Roboto, sans-serif;
         font-weight: 700;
         font-size: 1.15vmax;
         margin-right: 4vmin;
         word-break: break-word;
         line-height: 1.4;
      }
      &__trash-icon {
         display: inline-block;
         font-size: 1.2vmax;
         height: 1.2vmax;
         margin-left: 3vmax;
         padding: 0;
         cursor: pointer;
         @include no-select;
      }
      &__trash-icon:active {
         color: $primary-color;
      }
   }

   .amount {
      &-box {
         display: flex;
         justify-content: center;
      }
      &__number {
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: Roboto, serif;
         font-weight: 500;
         text-align: center;
         word-break: break-word;
         font-size: 1.15vmax;
         width: 3.5vmax;
         background-color: #d6d6d6;
      }
      &__btn-addition,
      &__btn-subtract {
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         color: #fff;
         background-color: rgb(32, 89, 173);
         font-size: 1.5vmax;
         width: 1.5vmax;
         padding: 0;
         line-height: 1;
         border-radius: 0.3vmax 0 0 0.3vmax;
         @include no-select;
      }
      &__btn-subtract {
         border-radius: 0 0.3vmax 0.3vmax 0;
      }

      &__btn-addition:active,
      &__btn-subtract:active {
         background-color: $primary-color;
         color: #fff;
         transition: color 0.075s linear;
      }
   }

   .total-cost {
      &-box {
         margin-top: 15px;
      }
      &__line {
         width: 75%;
         border-top: 0.15vmax dashed #000;
         margin: 0 auto;
         margin-bottom: 15px;
      }
      &__inner {
         display: flex;
         justify-content: center;
      }
      &__text,
      &__cost {
         font-family: Roboto, serif;
         font-weight: 500;
         font-size: 1.2vmax;
         text-align: center;
         word-break: break-word;
      }
      &__cost {
         margin-left: 10px;
      }
   }

   .order-buttons {
      &-box {
         display: flex;
         justify-content: space-around;
         margin-top: 20px;
      }
      &__close {
         font-size: 0.95vmax;
         padding: 0.5vmax 1vmax;
         border-radius: 100px;
      }
      &__confirm {
         text-transform: uppercase;
         font-size: 0.95vmax;
         font-family: Roboto, serif;
         font-weight: 500;
         text-align: center;
         word-break: break-word;
         padding: 0.5vmax 1vmax;
         border-radius: 100px;
         color: #fff;
         background-color: #00c800;
         box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
         text-shadow: #000 0px 0px 2px;
      }
      &__close:active {
         background-color: #555;
         color: #fff;
         transition: color 0.075s linear;
      }
      &__confirm:active {
         background-color: #0f0;
         color: #fff;
         transition: color 0.075s linear;
         box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
         text-shadow: #000 0px 0px 4px;
      }
   }

   .enlarged-image {
      &__image {
         min-width: 20vmin;
         max-width: 90vw;
         min-height: 20vmin;
         max-height: 90vh;
         padding: 2.5vmin 7vmin;
         border-radius: 3vmin;
      }
      &__close-btn {
         cursor: pointer;
         font-size: 2.7vmin;
         line-height: 1;
         padding: 1.7vmin;
         position: absolute;
         top: 0.66vmin;
         right: 1vmin;
      }
   }

   // intro
   .mouse-parallax {
      width: 100%;
      height: 44.5vmax;
      position: absolute;
      top: 0;
      overflow: hidden;
      z-index: 1;
   }

   .mouse-parallax-bg1 {
      position: absolute;
      background-image: url("../img/header/bg1.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 110%;
      height: 45vmax;
      transition: all 0.1s ease;
      z-index: 1;
   }

   .mouse-parallax-bg2 {
      position: absolute;
      background-image: url("../img/header/bg2.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 110%;
      height: 45vmax;
      transition: all 0.1s ease;
      z-index: 1;
   }

   .z-index-max {
      z-index: 10;
   }

   .intro {
      background: #fff !important;
   }

   .intro-container {
      margin: 0;
   }

   .scroll-wrapper {
      overflow-x: hidden;
      overflow-y: auto;
      perspective: 2px;
   }

   .supintro {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .logo {
      &__text {
         font-size: 3.5vmax;
         padding-top: 3vmax;
      }
   }

   .title {
      margin: 4vmax 0 4vmax 0;
      font-size: 2vmax;
      letter-spacing: 0.035em;
      padding-bottom: 0;
      &__2row {
         font-size: 6vmax;
         letter-spacing: 0.035em;
      }
   }

   .subintro {
      width: 100%;
      height: 100%;
   }

   .people-container {
      display: block;
      position: relative;
      height: auto;
      z-index: 5;
   }

   .people {
      position: absolute;
      display: block;
      right: 0;
      top: -16vw;
      width: 25%;
      z-index: 5;
      @include no-select;
   }

   .intro-polygon-container {
      display: block;
      position: relative;
      bottom: -1px;
      z-index: 10;
   }

   .intro-polygon {
      display: block;
      fill: #fff;
      width: 100%;
   }

   .intro-float-polygon {
      display: block;
      opacity: 0.5;
      z-index: 1;
      background: transparent;
      height: 21.2vmax;
      width: 100vw;
      background-size: contain;
      float: right;
      shape-outside: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
      shape-margin: 1vmax;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
      @include no-select;
      clear: right;
   }

   .subtitle-wrapper {
      position: relative;
      width: 100%;
      bottom: 21vmax;
      /*top: calc(-14vmax - (-20vh + 5vmax) - 12vmin);*/
      z-index: 10;
   }

   .white-bg {
      background-color: rgba(255, 255, 255, 0);
   }

   .subtitle__wrapper {
      width: 100%;
   }

   .subtitle-position {
      margin-top: 0;
      text-align: left;
   }

   .subtitle {
      font-size: 2.6vmax;
      padding: 0 5vmax;
      &__2row {
         margin-top: 0;
      }
   }

   .subtitle__desc {
      font-size: 1.3vmax;
      margin: 1.3vmax 0;
      padding: 0 5vmax;
   }

   .subtitle__desc_indent {
      margin: 2vmax 0;
   }

   .btn-wrapper {
      display: inline;
   }

   .link-btn {
      width: auto;
      display: inline-block;
      font-size: 1.3vmax;
      padding: 0.6em 2.5em 0.6em 2.5em;
      border-radius: 100vmin;
      text-align: center;
      margin: 0;
      margin-left: 25%;
      &:hover {
         background-color: $primary-light-color;
         box-shadow: 0 0 10px 1px $primary-light-color;
         transition: box-shadow 0.12s linear;
      }
   }

   .link-btn-position {
      margin-top: 0;
      margin-bottom: 0;
   }

   .link-btn-position_min-margin {
      margin-top: 2vmax;
      margin-bottom: 0;
   }

   // items

   .header {
      font-size: 2vmax;
   }

   .subheader {
      font-size: 1.1vmax;
      margin-top: 0.8em;
      margin-bottom: 1em;
   }

   .sort {
      &-bags__cheap,
      &-camps__cheap,
      &-cameras__cheap,
      &-lenses__cheap,
      &-bags__expensive,
      &-camps__expensive,
      &-cameras__expensive,
      &-lenses__expensive {
         font-size: 1.3vmax;
         width: 5vmax;
         border: 0.15vmax solid #000;
         border-right: 0.075vmax solid #000;
         padding-bottom: 0.1vmax;
      }
      &-bags__expensive,
      &-camps__expensive,
      &-cameras__expensive,
      &-lenses__expensive {
         border-right: 0.15vmax solid #000;
         border-left: 0.075vmax solid #000;
      }
      &-bags__cheap--active,
      &-camps__cheap--active,
      &-cameras__cheap--active,
      &-lenses__cheap--active,
      &-bags__expensive--active,
      &-camps__expensive--active,
      &-cameras__expensive--active,
      &-lenses__expensive--active {
         border: 0.15vmax solid $primary-color;
         text-shadow: #000 0 0 0.4vmax;
      }
      &-bags__cheap--deactive,
      &-camps__cheap--deactive,
      &-cameras__cheap--deactive,
      &-lenses__cheap--deactive {
         border-right: 0;
      }
      &-bags__expensive--deactive,
      &-camps__expensive--deactive,
      &-cameras__expensive--deactive,
      &-lenses__expensive--deactive {
         border-left: 0;
      }
   }

   .list-items-4-container {
      display: grid;
      grid-template: auto / repeat(4, 2fr);
      gap: 1.5vmin;
      flex-direction: initial;
      margin: 0 auto;
   }

   .list-items {
      width: 60%;
      &__item {
         padding: 1vmax 1vmax 0.5vmax 1vmax;
      }
      &__description {
         font-size: 0.85vmax;
         margin-top: 0;
         margin-bottom: 0;
         padding: 0.5vmax 0;
         display: block;
      }
      &__cost-box {
      }
      &__cost {
         font-size: 1.5vmax;
      }
      &__icon {
         font-size: 1.5vmax;
      }
   }

   .tooltip {
      top: -4.4vmax;
      right: -2.33vmax;
      width: 6vmax;
      padding: 0.5vmax 1vmax;
      font-size: 1.05vmax;
      text-shadow: none;
      border-radius: 0.5vmax;
   }

   .tooltip::after {
      bottom: -0.7vmax;
      border-width: 0.5vmax 0.5vmax 0 0.5vmax;
   }

   .separation-line {
      margin-top: 0.5vmax;
      margin-bottom: 1vmax;
      width: 35vw;
   }

   .newsletter {
      margin-top: 4vmax;
   }

   // newsletter
   .newsletter {
      position: relative;
      margin-top: 3vmax;
      &__one-line {
         font-size: 2vmax;
         display: block;
         word-break: break-word;
         text-shadow: none;
      }
      &__two-line {
         font-family: "Quotus-Thin", serif;
         font-size: 2.35vmax;
         margin-top: 0.2em;
         text-shadow: none;
      }
      &__description {
         font-size: 1.25vmax;
         margin: 1.8em 0 1.5em 0;
         color: #000;
         text-shadow: #fff 0px 0px 4px, #fff 0px 0px 10px, #fff 0px 0px 10px,
            #fff 0px 0px 10px;
      }
      &__form {
         padding: 1.5em 0 0 0;
      }
      &__email {
         width: 30%;
         font-size: 1.5vmax;
         margin-bottom: 1.5vmax;
         padding: 1vmax;
      }
      &__email:focus {
         box-shadow: 0px 0px 15px 5px #000;
      }
      &__btn {
         width: 15%;
         font-size: 1.5vmax;
         padding: 0.5em 0;
         margin-bottom: 1em;
      }
      &__btn:hover {
         background-color: $primary-light-color;
         box-shadow: 0 0 10px 1px $primary-light-color;
         transition: box-shadow 0.07s linear;
      }
      &__gradient {
         display: none;
      }
   }

   .footer-polygon-container {
      display: block;
      position: relative;
      bottom: 2vmax;
      z-index: 10;
   }

   .footer-polygon {
      display: block;
      fill: #fff;
      width: 100%;
      z-index: 5;
   }

   // links
   .links-desktop {
      display: block;
      position: relative;
   }

   .links {
      display: none;
   }

   .links-desktop-container {
      position: relative;
      bottom: 3vmax;
      z-index: 15;
   }

   .links-desktop-white-block {
      position: absolute;
      width: 100%;
      height: 2.65vmax;
      bottom: 16.4vmax;
      background-color: #fff;
      z-index: 12;
   }

   .links-desktop {
      margin: 0 20vmax;
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      position: relative;
      bottom: 1vmax;
      z-index: 14;
      &__header {
         font-family: "Roboto-Slab", sans-serif;
         font-size: 2vmax;
         text-align: left;
         display: block;
         width: 100%;
         margin: 0 auto;
         padding-bottom: 2vmax;
         word-break: break-word;
      }
      &__items {
         font-family: Roboto, serif;
         font-weight: 300;
         font-size: 1.5vmax;
         text-align: left;
         display: block;
      }
      &__item {
         color: #000;
         padding: 0.4em 0;
         display: block;
         word-break: break-word;
      }
   }

   // footer
   .social {
      margin-top: 0;
      &__list {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         padding: 0 1vmax 0 1vmax;
      }
      &__list a:link {
         color: #000;
         transition: color 0.07s linear;
      }
      &__list a:visited {
         color: #000;
         transition: color 0.07s linear;
      }
      &__list a:hover {
         color: $primary-color;
         transition: color 0.07s linear;
      }
      &__list a:active {
         color: $primary-color;
         transition: color 0.07s linear;
      }
   }

   .fab {
      font-size: 2.5vmax;
      margin: 0 0.85em 0.5em 0em;
   }

   .fab:last-child {
      margin-right: 0;
   }
}
